/* variables

$blue: #333742
$orange: #ff5e43
$gray: #9e9e9e
$medium-gray: #595960
$dark-gray: #2f313c
$dark-blue: #2e313c
$nav: #3e474f

body
  animation: bugfix infinite 1s
  // fixed android bug
  position: relative

@-webkit-keyframes bugfix
  from
    padding: 0
  to
    padding: 0

+bp(phone)
  .content
    height: auto
    margin: 0 auto
    overflow: hidden
    position: relative
    width: 100%
    min-width: 300px

  &::before
  &::after
    +clearfix
.content-inner
  float: left
  width: 100%
  margin-left: 0
  transition: all 0.55s ease-in-out 0s
  &::after
    +clearfix

/* Desktop nav
+bp(tablet)
  .content
    width: calc(100% - 50px)
    height: 100%
    position: relative
    left: 50px
  .side-bar
    position: fixed
    left: 0
    width: 50px
    height: 100%
    background: $main_gray
    ul
      li
        text-align: center
        margin-bottom: 20px
        &:first-child
          margin-top: 20px
        &:last-child
          margin-bottom: 0
        &.active
          i
            color: $neon_teal
        a
          text-decoration: none
          i
            font-size: 22px
            color: $main_accent

/* menu icon
.menu-icon-container
  display: block
  float: right
  height: 65px
  position: relative
  z-index: 999999
  +bp(tablet)
    display: none

.menu-icon
  cursor: pointer
  height: 40px
  position: relative
  top: 22px
  right: 20px
  transition: all 0.15s linear
  width: 40px

.menu-global
  backface-visibility: hidden
  border-top: 2px solid white
  left: 0
  position: absolute
  transition: all 0.15s linear
  width: 96%

.menu-top
  top: 0px

.menu-middle
  top: 12px

.menu-bottom
  top: 24px

.menu-top-click
  top: 19px
  transform: rotate(48deg)

.menu-middle-click
  opacity: 0

.menu-bottom-click
  top: 19px
  transform: rotate(-48deg)

/* gets rid of the browser-created checkbox

#toggle
  position: absolute
  left: -4000px

/* styles the nav position
@media (max-width: 766px)
  .content-wrap
    .side-bar
      background: $nav
      height: 100%
      overflow: auto
      right: -75%
      left: inherit
      top: 0
      padding: 0
      position: fixed
      width: 75%
      transition: all 0.55s ease-in-out 0s
  /* styles the nav
  .main-nav
    margin: 0
    padding: 0
    +bp(tablet)
      border: 0
      margin-left: -380px
      position: absolute
      top: 70px
      right: auto
      bottom: auto
      left: 50%
      z-index: 100
  .main-nav li
    display: block
    font-size: 1.2rem
    height: auto
    letter-spacing: 0.1rem
    list-style: none
    padding: 0
    text-align: center
    text-transform: uppercase
    +bp(tablet)
      border: none
      color: $nav
      display: inline-block
      padding: 0 10px
  .main-nav li a
    background: $nav
    color: #353535
    display: block
    font-size: 1.1rem
    font-weight: 500
    padding: 40px 0
    text-decoration: none
    +bp(tablet)
      background: none
      color: $orange
      display: inline-block
      font-size: 0.8rem
      font-weight: 100
      padding: 0
      transition: all 0.55s ease-in-out 0s
    &:hover
      background: darken($nav, 8%)
      color: lighten($nav, 10%)
      +bp(tablet)
        background: none
        color: white
  /* when the menu is clicked / checkbox checked
  input
    &:checked ~ .side-bar
      right: 0
      z-index: 101
      +bp(tablet)
        background: transparent
        height: auto
        float: right
        padding: 0
        position: static
        width: 100%
        transition: all 0.55s ease-in-out 0s
    &:checked ~ .content .content-inner
      position: fixed
      transform: translateX(-75%)
      +bp(tablet)
        margin-left: 0%
        position: static
        transition: all 0.55s ease-in-out 0s
  .content-wrap
    .content
      height: 100%
      padding: 0
      left: inherit
      width: 100%
      &::after
        +clearfix
