//Variable Colors
@import '../../../common/assets/styles/includes/vars.sass'
.content-wrap
  .content
    .hero-top
      padding-left: 35px
      height: 300px
      .hero-center
        width: 60%
        display: inline-block
        position: relative
        top: 20px
        h2
          margin-top: 0
          color: #fff
          text-align: left
          text-transform: uppercase
          font-weight: 400
          letter-spacing: 5px
          font-size: 20px
          font-weight: 300
          margin-bottom: 50px
        .title
          color: #fff
          font-weight: 400
        p
          color: #fff
          font-weight: 300
          font-size: 16px
          line-height: 22px
          .hero-btn
            margin-top: 0
            padding: 5px
            position: absolute
            right: 0
    .icon-badge
      width: 150px
      height: 150px
      background: $mint_green
      border-radius: 100%
      position: absolute
      right: 150px
      top: 50%
      transform: translateY(-50%)
      img
        margin: 0 auto
        margin-top: 40px
        width: 50%
        display: block

    .hero-button
      position: absolute
      right: 50px
      padding: 8px 40px
      margin-top: 20px
    .video-track
      .active
        color: $base_green !important
        font-weight: bold
        i
          color: $base_green
        span
          color: $base_green
