@import url(http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:600italic,400,300,600,700);
/* line 12, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
body, html {
  width: 100%;
  height: 100%; }

/* line 15, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

/* line 19, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
a {
  font-family: "Open Sans", sans-serif; }

/* line 21, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 1700px) {
    /* line 21, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .wrapper {
      max-width: 1700px;
      margin: 0 auto; } }

/* line 29, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.background-block.cover-filter {
  display: block;
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 800px; }

/* line 39, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.background-block.feature-top {
  background-color: #7CC6B5;
  min-height: inherit;
  opacity: .64;
  margin-bottom: 0; }
  /* line 45, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .background-block.feature-top .title h1 {
    color: #fff;
    font-size: 45px;
    letter-spacing: 7px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    line-height: 50px; }
    @media screen and (max-width: 767px) {
      /* line 45, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.feature-top .title h1 {
        font-size: 25px;
        line-height: 35px; } }
  /* line 56, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .background-block.feature-top .title p {
    color: #16191C;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px;
    font-family: "Varela Round", sans-serif; }
    @media screen and (max-width: 767px) {
      /* line 56, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.feature-top .title p {
        font-size: 25px;
        line-height: 35px; } }

/* line 68, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.center-image {
  text-align: center; }
  /* line 70, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .center-image img {
    width: 20%; }

/* line 72, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.title {
  position: relative;
  color: #FFF;
  text-align: center;
  padding: 100px 0;
  display: block;
  margin: 0 auto;
  z-index: 5; }
  /* line 80, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .title h1 {
    font-size: 45px;
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px; }
  /* line 85, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .title p {
    color: #16191C;
    line-height: 1.5;
    margin: 0 auto; }

/* line 90, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.forward-block {
  background: #FFF;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 175px;
  position: relative; }
  /* line 99, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .forward-block .block-text {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 991px) {
      /* line 99, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .forward-block .block-text {
        width: 85%; } }
    @media screen and (max-width: 767px) {
      /* line 99, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .forward-block .block-text {
        width: 100%; } }
    /* line 113, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .forward-block .block-text p {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      width: 80%;
      margin: 0 auto;
      line-height: 20px;
      color: #7F8286; }
      @media screen and (max-width: 767px) {
        /* line 113, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .forward-block .block-text p {
          width: 90%;
          font-size: 13px;
          line-height: 17px; } }
  /* line 124, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .forward-block .get-started-btn {
    background: #908EB5;
    width: 415px;
    height: 65px;
    border-radius: 5px;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 65px; }
    @media screen and (max-width: 767px) {
      /* line 124, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .forward-block .get-started-btn {
        width: 285px;
        height: 55px;
        line-height: 55px;
        font-size: 14px; } }

/* line 148, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.background-block.learn-sections {
  min-height: 415px; }
  /* line 150, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .background-block.learn-sections:after {
    display: table;
    clear: both;
    content: ''; }
  /* line 154, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .background-block.learn-sections .block-half {
    width: 50%;
    float: left; }
    @media screen and (max-width: 767px) {
      /* line 154, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half {
        float: none;
        display: block;
        width: 100%;
        padding-top: 20px; } }
    /* line 162, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .background-block.learn-sections .block-half.class {
      background: #908EB5; }
      /* line 164, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half.class h3 {
        text-align: center;
        font-family: "Varela Round", sans-serif;
        color: #fff;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 40px; }
      /* line 172, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half.class .icon-center {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-color: #817FA4;
        border-radius: 100%;
        text-align: center; }
        /* line 179, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .background-block.learn-sections .block-half.class .icon-center img {
          width: 50%;
          position: relative;
          top: 50px; }
      /* line 183, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half.class .block-footer {
        background: #817FA4; }
        /* line 185, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .background-block.learn-sections .block-half.class .block-footer a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          letter-spacing: 1px; }
    /* line 190, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .background-block.learn-sections .block-half.course {
      background: #7CC6B5; }
      /* line 192, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half.course h3 {
        text-align: center;
        font-family: "Varela Round", sans-serif;
        color: #fff;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 3px;
        margin-bottom: 40px; }
      /* line 200, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half.course .icon-center {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-color: #72B7A7;
        border-radius: 100%;
        text-align: center; }
        /* line 207, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .background-block.learn-sections .block-half.course .icon-center img {
          width: 50%;
          position: relative;
          top: 50px; }
      /* line 211, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half.course .block-footer {
        background-color: #72B7A7; }
        /* line 213, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .background-block.learn-sections .block-half.course .block-footer a {
          color: #B8D2CC;
          text-decoration: none;
          font-weight: 200;
          letter-sapcing: 1px;
          pointer-events: none;
          cursor: default; }
    /* line 220, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .background-block.learn-sections .block-half .block-body {
      margin: 0 auto;
      width: 300px;
      margin-bottom: 40px; }
      /* line 224, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .background-block.learn-sections .block-half .block-body p {
        color: #fff;
        font-weight: 200;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        line-height: 20px;
        margin-top: 40px; }
    /* line 231, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .background-block.learn-sections .block-half .block-footer {
      text-align: center;
      color: #fff;
      padding: 10px; }

/* line 235, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.info-block {
  width: 100%;
  background: #eee;
  padding-top: 125px;
  position: relative; }
  @media screen and (max-width: 767px) {
    /* line 235, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .info-block {
      padding-top: 50px; } }
  /* line 242, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .info-block h1 {
    text-align: center;
    margin: 0;
    color: #4A4A4A;
    font-family: "Varela Round", sans-serif; }
    @media screen and (max-width: 615px) {
      /* line 242, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .info-block h1 {
        font-size: 18px; } }
  /* line 249, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .info-block .icon-center {
    text-align: center;
    padding: 92px 0; }
    @media (max-width: 767px) {
      /* line 249, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .info-block .icon-center {
        padding: 55px 0; } }
    /* line 254, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .info-block .icon-center img {
      width: 40%; }
      @media screen and (max-width: 767px) {
        /* line 254, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .info-block .icon-center img {
          width: 300px; } }
  /* line 258, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .info-block .grid {
    width: 100%;
    position: relative;
    padding: 62px 0 162px 0; }
    @media (max-width: 767px) {
      /* line 258, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .info-block .grid {
        padding: 62px 0 50px 0; } }
    /* line 264, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .info-block .grid:after {
      display: table;
      clear: both;
      content: ''; }
    /* line 268, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .info-block .grid .tile {
      text-decoration: none;
      color: #4a4a4a;
      font-family: "Varela Round", sans-serif;
      float: left;
      width: 30%;
      margin-left: 1.6%; }
      /* line 275, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .info-block .grid .tile:first-child {
        margin-left: 3.4%; }
      /* line 277, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .info-block .grid .tile .tile-top {
        text-align: center;
        width: 100%;
        border-radius: 5px 5px 0 0;
        padding: 40px 0; }
        /* line 282, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .info-block .grid .tile .tile-top.first-tile {
          background-color: #94CFB8; }
        /* line 284, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .info-block .grid .tile .tile-top.second-tile {
          background-color: #82C1EF; }
        /* line 286, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .info-block .grid .tile .tile-top.third-tile {
          background-color: #FB8D7C; }
        /* line 288, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .info-block .grid .tile .tile-top img {
          width: 30%; }
      /* line 290, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .info-block .grid .tile .tile-bottom {
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 10px 0; }

/* line 295, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.theWorks {
  position: relative;
  width: 100%;
  min-height: 300px; }
  /* line 299, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .theWorks .text-container {
    min-height: 300px;
    width: 65%;
    margin: 0 auto;
    padding: 100px 0; }
    @media screen and (max-width: 445px) {
      /* line 299, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .theWorks .text-container {
        width: 85%; } }
    /* line 306, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .theWorks .text-container h1 {
      text-align: center;
      color: #5C5E76;
      font-family: "Varela Round", sans-serif; }
      @media screen and (max-width: 445px) {
        /* line 306, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .theWorks .text-container h1 {
          font-size: 28px; } }
    /* line 312, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .theWorks .text-container p {
      color: #7F8286;
      line-height: 25px;
      font-family: "Open Sans", sans-serif; }
      @media screen and (max-width: 445px) {
        /* line 312, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .theWorks .text-container p {
          font-size: 14px;
          line-height: 21px; } }
    /* line 319, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .theWorks .text-container .btn-center {
      text-align: center;
      margin-top: 50px; }
      /* line 322, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
      .theWorks .text-container .btn-center a {
        text-decoration: none;
        color: #5C5E76;
        border: 1px solid #5C5E76;
        padding: 12px 35px;
        border-radius: 3px; }
        /* line 328, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
        .theWorks .text-container .btn-center a:hover {
          background: #2ECC71;
          border-color: #2ECC71;
          color: #fff; }

/* line 333, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
.footer {
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0;
  background-color: #373837; }

@media screen and (max-width: 767px) {
  /* line 342, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
  .info-block .grid .tile {
    float: none;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px; }
    /* line 348, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/Home Screen/assets/styles/home.sass */
    .info-block .grid .tile:first-child {
      margin: 0 auto;
      margin-bottom: 35px; } }

/*# sourceMappingURL=home.css.map */