//Variable Colors
@import 'includes/vars.sass'

//Media Queries
@media screen and (max-width: 1147px)
  .content-wrap
    .content
      .hero-top
        height: 400px
@media screen and (max-width: 991px)
  #video-container
    margin-bottom: 0
    video
      border: 0
  .content-wrap
    .content
      background: $column_gray
      .curriculum
        width: 100%
        height: auto
        .curriculum-center
          width: 100%
          position: relative
        .about
          padding-top: 25px
          position: relative
          width: 100%
          h3
            margin-top: 0
@media screen and (max-width: 767px)
  #video-container
    .control
      .muted
        font-size: 22px
        top: 10px
      .fullscreen
        font-size: 25px
        top: 10px
      .current
        font-size: 12px
        top: 2px
      .btnPlay
        font-size: 30px
        top: 7px
      .progressBar
        top: 6px
@media screen and (max-width: 640px)
  #video-container
    .control
      .progressTime
        width: 65%
      .progressBar
        top: 6px
        width: 85%
@media screen and (max-width: 544px)
  #video-container
    margin-bottom: 0
  .content-wrap
    .side-bar
      position: fixed
      bottom: 0
      left: 0
      width: 100%
      height: 50px
      z-index: 100
      text-align: center
      ul
        li
          display: inline-block
          margin-top: 15px
          margin-right: 50px
          &:first-child
            margin-top: 0
          &:last-child
            margin-right: 0
    .content
      width: 100%
      left: 0
      .curriculum

        .curriculum-center

        .about

@media screen and (max-width: 399px)
  #video-container
    .control
      .progressBar
        width: 65%
