@media screen and (max-width: 1147px) {
  /* line 6, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .content-wrap .content .hero-top {
    height: 400px; } }

@media screen and (max-width: 991px) {
  /* line 12, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .acc-container li a {
    padding-bottom: 0; }
  /* line 14, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .acc-container .accordion {
    overflow: hidden; }
  /* line 16, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container {
    margin-bottom: 0; }
    /* line 18, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
    #video-container video {
      border: 0; }
  /* line 21, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .content-wrap .content {
    background: #F3F6F9; }
    /* line 23, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
    .content-wrap .content .curriculum {
      width: 100%;
      height: auto; }
      /* line 26, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
      .content-wrap .content .curriculum .curriculum-center {
        width: 100%;
        position: relative; }
      /* line 29, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
      .content-wrap .content .curriculum .about {
        padding-top: 25px;
        position: relative;
        width: 100%;
        padding-bottom: 100px; }
        /* line 34, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
        .content-wrap .content .curriculum .about h3 {
          margin-top: 0; } }

@media screen and (max-width: 767px) {
  /* line 39, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .muted {
    font-size: 22px;
    top: 10px; }
  /* line 42, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .fullscreen {
    font-size: 25px;
    top: 10px; }
  /* line 45, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .current {
    font-size: 12px;
    top: 2px; }
  /* line 48, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .btnPlay {
    font-size: 30px;
    top: 7px; }
  /* line 51, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .progressBar {
    top: 6px; }
  /* line 53, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .welcome-quiz {
    opacity: 1 !important; }
    /* line 55, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
    .welcome-quiz .modal-body {
      top: 0 !important;
      -webkit-transform: translateX(-50%) !important;
      -moz-transform: translateX(-50%) !important;
      -o-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important;
      width: 100%; } }

@media screen and (max-width: 640px) {
  /* line 65, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .progressTime {
    width: 65%; }
  /* line 67, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .progressBar {
    top: 6px;
    width: 85%; } }

@media screen and (max-width: 544px) {
  /* line 71, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container {
    margin-bottom: 0; }
  /* line 74, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .content-wrap .side-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    text-align: center; }
    /* line 82, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
    .content-wrap .side-bar ul {
      display: table;
      width: 100%;
      height: 100%; }
      /* line 86, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
      .content-wrap .side-bar ul li {
        display: table-cell;
        width: 25%;
        margin-top: 0;
        margin-right: 0;
        height: 100%;
        vertical-align: middle; }
        /* line 94, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
        .content-wrap .side-bar ul li a i {
          font-size: 7vw; }
  /* line 96, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  .content-wrap .content {
    width: 100%;
    left: 0; } }

@media screen and (max-width: 399px) {
  /* line 104, /Users/sawyerbateman/Projects/The Center/Learning Center/Pages/School/common/assets/styles/respond.sass */
  #video-container .control .progressBar {
    width: 65%; } }

/*# sourceMappingURL=respond.css.map */